<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    

    {% block head %} 
        <title>Manager</title>
    {% endblock %}

    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

</head>
<body>

    <header>
        <!--"/" vai linkar para o index.html-->
        <div class="links" id="links-header">      
            <a href="/teachers">Professores</a>
            <a href="/students">Alunos</a>
        </div>
    </header>

    <!--nesse block posso colocar qualquer nome, não precisar ser content-->
   {% block content %}   {% endblock %}
    
    <script src="/script.js"></script>
  
</body>
</html>