{% extends 'layout.njk' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<form class="card" method="POST" action="/students">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/9881186/500x500) no-repeat center center / cover"></section>
    
    <section class="details">
        
        <h3>Novo Aluno</h3>

        {% include 'students/fields.njk' %}

        <div class="grid-button">
            <button type="Submit">Salvar</button>
            <a href="/students/{{ student.id }}" id="cancelar" class="button">Cancelar</a>
        </div>

    </section>
</form>

{% endblock %}