{% extends 'layout.njk' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{# o method sempre será GET ou POST, ele não entende PUT, por isso será configurado no action #}
    <div  class="card">
        <section class="avatar" style="background: url({{ student.avatar_url }}) no-repeat center center / cover"></section>
        
        <section class="details">
            
            <h3>Editar Aluno</h3>

        <form method="POST" action="/students?_method=PUT">
        {% include 'students/fields.njk' %}

            <input 
                type="hidden"
                name="id"
                value={{ student.id }}
                >

              <div class="grid-button">
                <button type="Submit">Salvar</button>
                <a href="/students/{{ student.id }}" id="cancelar" class="button">Cancelar</a>
            </div>
        </form>


        </section>


    </div>



{% endblock %}