{% extends 'layout.njk' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block content %}

    <div class="card table-container">

        <a href="/students/create">Novo Cadastro</a>

        <table width="100%">
            <thead>
                <tr>
                    <th>Alunos</th>
                    <th>Email</th>
                    <th>Ano escolar</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>

                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background: url( '{{ student.avatar_url }}' ) center top no-repeat; background-size: 100% 100%"></span>
                            {{ student.name }}
                        </td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.selectYear }}</td>
                        <td><a href="/students/{{ student.id }}"> Ver</a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}