{% extends 'layout.njk' %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="card">
        <section class="avatar" style="background: url({{ student.avatar_url }}) no-repeat center center / cover">
        </section>

        <section class="details">

            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome completo</div>
                <div>{{ student.name }}</div>
            </div>

            <div class="item">
                <div>E-mail</div>
                <div>{{ student.email }}</div>
            </div>

            <div class="item">
                <div>Aniversário</div>
                <div>{{ student.birth }}</div>
            </div>

            <div class="item">
                <div>Ano escolar</div>
                <div>{{ student.selectYear }}</div>
            </div>

            <div class="item">
                <div>Carga horária semanal</div>
                <div>{{ student.hours }}</div>
            </div>

            {# <button type="Submit">Editar</button> #}
            <div class="grid-button">
                <a href="/students/{{ student.id }}/edit" class="button">Editar</a>

                <form id="form-delete" method="POST" action="/students?_method=DELETE">
                    <input 
                    type="hidden"
                    name="id"
                    value={{ student.id }}
                    >

                    <button id="deletar" type="submit">Deletar</button>
                </form>
            </div>

        </section>
    </div>

    <script>
        const formDelete = document.querySelector("#form-delete")

        formDelete.addEventListener("submit", function (event) {
            const confirmation = confirm("Deseja deletar?")

            if (!confirmation) {
                event.preventDefault()
            }
        })
    </script>

{% endblock content %}