{% extends 'layout.njk' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="card">
    <section class="avatar" style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover"></section>
    
    <section class="details">
        
        <h3>Detalhes</h3>

        <div class="item">
            <div>Nome completo</div>
            <div>{{ teacher.name }}</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>{{ teacher.age }}</div>
        </div>

        <div class="item">
            <div>Grau de escolaridade</div>
            <div>{{ teacher.selectDegree }}</div>
        </div>

         <div class="item">
            <div>Tipo de aula</div>
            <div>{{teacher.classType}}</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
               {% for service in teacher.services %}
                <span>{{ service }}</span>
                {% endfor %}
               
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>{{ teacher.created_at }}</div>
        </div>
        
        {# <button type="Submit">Editar</button> #}
        <div class="grid-button">
        <a href="/teachers/{{ teacher.id }}/edit" class="button">Editar</a>
       
         <form method="POST" action="/teachers?_method=DELETE">
             <input 
                type="hidden"
                name="id"
                value={{ teacher.id }}
                >

            <button id="deletar" type="submit">Deletar</button>
        </form>
        </div>

    </section>
</div>

{% endblock %}